# Include the README, HELP, and LICENSE files
include *.md
include *.txt

# Include all resources
recursive-include cyckei/resources *
recursive-include cyckei/resources *

# Remove build files
prune *.egg-info
