cycler==0.10.0
kiwisolver==1.2.0
matplotlib==3.3.0
numpy==1.19.1
Pillow==7.2.0
pyparsing==2.4.7
pyserial==3.4
PySide2==5.15.0
python-dateutil==2.8.1
PyVISA==1.10.1
pyzmq==19.0.1
shiboken2==5.15.0
six==1.15.0
