// Cyckei SASS, should be compiled into CSS

$font: None
$font-size: 16px

$orange: #f05f40
$off-white: #f2f2f2
$light-grey: #d9d9d9
$dark-grey: #a6a6a6

*
  font: $font
  font-size: $font-size
  selection-background-color: $orange

  ScriptEditor,
  LogViewer,
  QMainWindow
    background-color: $off-white

  ChannelWidget#even
    background-color: $off-white

  ChannelWidget#odd
    background-color: $light-grey

  QWidget#off
    background-color: $dark-grey

  QWidget#on
    background-color: $orange

  ChannelWidget
    border-bottom: 1px solid $orange

  QLabel#id_label
    color: $orange
    font-weight: bold

  QPushButton:pressed
    background-color: $orange

  QPlainTextEdit:focus,

  QListWidget:focus
    border: 1px solid $orange

  QMainWindow
    background-color: $dark-grey
